# Ignorer le fichier de configuration Alembic
alembic.ini

# Ignorer tout le dossier Alembic
alembic/

# Ignorer les fichiers de configuration sensibles

.env

# Ignorer le dossier virtuel
.venv/

# Ignorer le fichier de travail (work.txt)
work.txt

.env
Dockerfile
docker-compose.yml
